
@media only screen and (min-width: 993px){
  .ena-container {
    width: 90%;
  }
}


.enaforms {

  $black: #000;
  $gray: #808080;
  $teal: #008080;


  study-xml {
    color: $black;
    font-size: 12px;
  }

  h1 {
    font-size: 2.4rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  p {
    font-size: 1rem;
  }

  ol {
    font-size: 1rem;
  }

  fieldset em {
    color: $gray;
    font-size: .8rem;
  }

  fieldset strong {
    color: $teal;
  }


  .input-field {
    margin-top: 0;
  }

  legend h3 {
    padding-bottom: 12px;
    padding-top: 12px;
  }

  body {
    // font-size: 15px;
    // line-height: 1.5;
  }

  .help-block {
    color: $gray;
    font-size: .8rem;
    font-style: italic;
    margin-bottom: 30px;
    padding-left: 10px !important;
  }

  .help-block strong {
    color: $gray;
    // font-size: 1rem;
    margin-bottom: 20px;
  }

  .checklist-description {
    font-size: 1.1rem;
  }

  .checklist-row {
    margin-bottom: 0;
  }

  .checklist-row input {
    margin-bottom: 8px;
  }

  ul li {
    list-style-type: none; // no bullets in li elements
  }
}

.ena-dropdown {
  li {
    min-height: 30px;
  }

  li>span {
    font-size: 13px;
    padding-bottom: 7px;
    padding-top: 7px;
  }

}
